body{
    margin: 0;
    padding:0;
}
header{
    background-color: cornflowerblue;
    margin: 0%;
    padding: 10px;
    height: 30px;
    text-align: center;
    display: block;
}
header a{

    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}

section img{
    display: block;
    width: 100%;
    max-height: 500px;
}
.secciones{
    float: left;
    width: 250px;
    background-color:cornflowerblue;
    margin-left: 5%;
    border-radius: 5px;
    height: 300px;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr{
border:solid .5px gainsboro;
    
}

.t-articulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(187, 187, 187);
    font-weight: normal;
    text-align: center;
}
.secciones p{
    text-align: justify;
    padding: 10px;
}

footer{
    clear: both;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;

}
